@font-face {
    font-family: 'AliceWonderland';
    src: url('fonts/Alice_in_Wonderland_3.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    /* make sure body fills the viewport */
    margin: 0;
    /* remove default margins */
}

body {
    display: flex;
    align-items: center;
    /* vertical centering */
    justify-content: center;
    /* horizontal centering */
    font-family: 'AliceWonderland', sans-serif;
    background: url("images/asfdwse.jpeg") no-repeat center center fixed;
    background-size: cover;
    /* makes it fill the whole page */
    cursor: url("images/cursor.png"), auto;
}


svg {
    position: absolute;
    /* lets you place it anywhere */
    top: 20%;
    /* distance from top of page */
    left: 50%;
    /* center horizontally */
    transform: translateX(-50%);
    /* actually centers it */
    width: 800px;
    /* controls how big it renders */
    height: auto;
    /* keeps proportions */
}


/* top arc */
.curved-title.top {
    top: 20%;
    /* adjust vertical position */
}

/* bottom arc */
.curved-title.bottom {
    top: 32%;
    /* adjust so it sits below the top arc */
}



.img-buttons {
    display: relative;
    width: 100%;
    height: 100vh;
}

.img-btn {
    width: auto;
    height: auto;
    cursor: url("images/cursor.png"), auto;
    transition: transform 0.15s ease, filter 0.15s ease;
}

.img-btn:hover {
    transform: scale(1.05);
}

.img-btn.active {
    transform: scale(1.1);
    filter: brightness(0.7);
}

/* Individual placement */
.img-btn.where {
    position: absolute;
    top: 5%;
    left: 5%;
}

.img-btn.when {
    position: absolute;
    top: 22%;
    left: 55%;
    opacity: 0.8;
}

.img-btn.who {
    position: absolute;
    top: 69%;
    left: 10%;
}

.img-btn.why {
    position: absolute;
    top: 40%;
    left: 70%;
}

.img-btn.what {
    position: absolute;
    top: 40%;
    left: 80%;
}